@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #0e0e0e;
  --foreground: #edd6b6;
  --card-background: #181716;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);

  --font-chillax: var(--font-chillax);
  --font-satoshi: var(--font-satoshi);
  --font-gambetta: var(--font-gambetta);

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #edd6b6;
    --card-background: #d1c7b9;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: chillax, Arial, Helvetica, sans-serif;
}
